{% extends './base.html' %}

{% block content %}
<div class="container">
    <h1>About Us</h1>

    <section class="intro">
      <p>
        With the initiatives by the local government, it has been musch easier to find opportunities for one to spend their time to volunteer in, however it can be compared to looking at a job listing and there is no engaging features to captivate the user to return.
      </p>
      <p>
        The goal of this web application aims to bring people back to the application and use it as a means to communicate, engage and encourage more users to volunteer in a more fun manner by including rewards and facilating communication between organisers and participants.
      </p>
    </section>


{% endblock %}
