{% extends './base.html' %}

{% block title %}
    Confirm Account Deletion
{% endblock %}

{% block content %}
  <div class="container">
    <div class="container_detail">
    <h1>Are you sure you want to delete your account?</h1>
    <h3>This action cannot be undone.</h3>
    <br><br>
    <form method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Yes, delete my account</button>
      <a href="{% url 'participant_profile' %}" class="btn btn-secondary">Cancel</a>
    </form>
    </div>
  </div>
{% endblock %}
