
{% load bootstrap4 %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="footer">
            <hr>
        <div class="footer-content">
                    <div class="footer-logo">
                        <span class="logo-text">VolunteersUnite</span>
                    </div>

                    <div class="footer-links">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support</a></li>

                        </ul>
                    </div>
                </div>

                <div class="footer-bottom">
                    <p>&copy; VolunteersUnite. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
